
:root {
    --primary-color: #010409;
    --secondary-color: #0D1117;
}

i {
    color: rgb(255, 150, 150);
}

.main-heading {
    font-size: 5vw;
}

.long-text {
    font-size: 2vw;
}

.heading {
    font-size: 3vw;
}

@media screen and (orientation: portrait) {
    .main-heading {
        font-size: 5vh;
    }

    .long-text {
        font-size: 2vh;
    }

    .heading {
        font-size: 3vh;
    }

}
